.booki-accommodation {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

.booki-accommodation .accommodation-notif {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	margin-top: 2em;
	margin-bottom: 2em;
}

.booki-accommodation .accommodation-notif .accommodation-icon {
	border-radius: 50%;
	border-style: solid;
	border-color: var(--color-tertiary);
	width: 1.5em;
	height: 1.5em;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-inline-end: 1em;
}

.booki-accommodation .accommodation-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
	/* max-height: 10em; */
}

.booki-accommodation .accommodation-container .all-accommodation, .booki-accommodation .accommodation-container .popular-accommodation {
	background-color: var(--color-tertiary);
	border-radius: var(--medium-border-radius);
	padding: 2em;
}

.booki-accommodation .accommodation-container .all-accommodation {
	width: 65%;
}

.booki-accommodation .accommodation-container .popular-accommodation {
	display: flex;
	flex-direction: column;
}

.booki-accommodation .title-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

/* Accommodation Card */
.accommodation-card-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1em;
	margin-bottom: 1em;
	justify-content: space-between;
}

.accommodation-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: var(--color-contrast-white);
	border-radius: var(--medium-border-radius);
	padding: 0.5em;
	height: 15em;
	width: 25%;
	margin-bottom: 2em;
	text-decoration: none;

    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.2);
}

/* .accommodation-card:hover {
	border-color: var(--color-primary);
	border-style: solid;
	border-width: -0.5em;
} */

.accommodation-card img {
	border-top-left-radius: var(--medium-border-radius);
	border-top-right-radius: var(--medium-border-radius);
	width: 100%;
	height: 66%;
	object-fit: cover;
}

.all-accommodation .accommodation-card img {
	margin-bottom: 1em;
}

.accommodation-card .info-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.accommodation-card .note-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.all-accommodation-button {
	background-color: transparent;
	border: none;
}

.accommodation-space-div {
	display: flex;
	flex: 1 0 10px;
}

/* Popular cards */
.popular-card-container {
	flex-direction: column;
	flex-wrap: nowrap;
}

.popular-card-container .accommodation-card {
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
	margin : 0;
}

.popular-card-container .accommodation-card img {
	height: 10em;
	width: 50%;
	border-bottom-left-radius: var(--medium-border-radius);
	border-top-right-radius: unset;
	margin-right: 1em;
}