.activity .activity-title {
    margin-top: 3em;
    margin-bottom: 1em;
}


.activity .activity-card {
    width: 21%;
    aspect-ratio: 2 / 3;

    border-radius: var(--medium-border-radius);

    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.2);


    overflow: hidden;
}

.activity .activity-card > a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.activity .activity-card .text-normal-bold {
    font-size: 15px;
}

.activity .activity-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.activity .activity-card img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-top-left-radius: var(--medium-border-radius);
    border-top-right-radius: var(--medium-border-radius);
}

.activity .activity-card .activity-title {
    margin: .5em 1em .5em 1em;
}

@media (min-width: 768px) {	/* Ordinateur & tablette */

}

@media (max-width: 991px) and (min-width: 768px) {	/* Tablette */

}

@media (max-width: 767px) {	/* Mobile */
    .activity .activity-card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .activity .activity-card {
        width: 100%;
        margin-bottom: 1em;
        aspect-ratio: 2;
    }
}
