/* Filter */
.booki-filters-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 65%;
	padding-left: 0.5em;
}

.booki-filters .filter-button {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: fit-content;
	height: fit-content;
	padding: 1em;

	background-color: var(--color-contrast-white);
	border-color: var(--color-tertiary);
	border-style: solid;
	border-radius: 2em;
}

.booki-filters .filter-button:hover {
	background-color: var(--color-secondary);
}

.booki-filters .filter-button .filter-icon {
	margin-right: 1em;
}

@media (min-width: 768px) {	/* Ordinateur & tablette */

}

@media (max-width: 991px) and (min-width: 768px) {	/* Tablette */

}

@media (max-width: 767px) {	/* Mobile */
	.booki-filters-container {
		flex-wrap: wrap;
		width: 100%;
		padding: 0;
	}

	.booki-filters-container .filter-title {
		width: 100%;
		margin: 0;
	}

	.booki-filters-container .filter-button {
		width: 48%;
		justify-content: center;
		margin-top: 1em;
	}
}
