.footer {
    background-color: var(--color-tertiary);
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 5em;

    border-top-left-radius: var(--medium-border-radius);
    border-top-right-radius: var(--medium-border-radius);

    min-height: 20em;
}

.footer .footer-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2em 0 2em 0;
}

.footer .footer-column .footer-title {
    margin: 1em 0 1em 0;
}

.footer .footer-column a {
    text-decoration: none;
    margin: .5em 0 .5em 0;
}