/* Adding Raleway Font */
@font-face {
	font-family: "Raleway Thin";
	src: url("../font/Raleway/Raleway-VariableFont_wght.ttf");
}
@font-face {
	font-family: "Raleway Thin Italic";
	src: url("../font/Raleway/Raleway-Italic-VariableFont_wght.ttf");
}

/* Defining Color Template */
:root {
	--color-primary		: #0065FC;
	--color-secondary	: #DEEBFF;
	--color-tertiary	: #D9D9D9;
	--color-text		: #000;
	--color-text-oppose	: #FFF;
}

/* miscellaneous var */
:root {
	--medium-border-radius : 1em;
}

/* Defining Text Template */
.text-normal {
	font-family: "Raleway Thin";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: var(--color-text);
}

.text-normal-bold {
	font-family: "Raleway Thin";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: var(--color-text);
}

.text-title {
	font-family: "Raleway Thin";
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	color: var(--color-text);
}

/* Icons Template */
.icon-meduim {
	width: auto;
	height: 1em;
	color: var(--color-primary);
}

body {
	margin: 0%;
	margin-inline: 2em;
}



