/* Adding Raleway Font */
@font-face {
	font-family: "Raleway Thin";
	src: url("../font/Raleway/Raleway-VariableFont_wght.ttf");
}
@font-face {
	font-family: "Raleway Thin Italic";
	src: url("../font/Raleway/Raleway-Italic-VariableFont_wght.ttf");
}

/* Defining Color Template */
:root {
	--color-primary		: #0065FC;
	--color-secondary	: #DEEBFF;
	--color-tertiary	: #D9D9D9;
	--color-text		: #000
}

/* Defining Text Template */
.text-normal {
	font-family: "Raleway Thin";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: var(--color-text);
}

.text-normal-bold {
	font-family: "Raleway Thin";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: var(--color-text);
}

.text-title {
	font-family: "Raleway Thin";
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	color: var(--color-text);
}

/* Icons Template */
.icon-meduim {
	width: 22px;
	height: 22px;
	color: var(--color-primary);
}

body {
	margin: 0%;
}

/* Header */
.booki-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
	width: 100%;
}

.booki-header .header-logo {
	width: 5em;
	height: fit-content;
	margin: 1em;
	margin-inline: 2em;
}

.booki-header-menu{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: stretch;
	margin: 0%;
	margin-inline: 2em;
}

.booki-header-menu .menu-item {
	padding-inline: 2em;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 7em;
}

.booki-header-menu .menu-item:hover {
	border-top: solid;
	border-top-width: 0.2em;
	border-top-color: var(--color-primary);
	color: var(--color-primary);
}
