/* Adding Raleway Font */
@font-face {
	font-family: "Raleway Thin";
	src: url("font/Raleway/Raleway-VariableFont_wght.ttf");
}
@font-face {
	font-family: "Raleway Thin Italic";
	src: url("font/Raleway/Raleway-Italic-VariableFont_wght.ttf");
}